<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright 2017 Hippo B.V. (http://www.onehippo.com)
-->
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} %-5p [%C.%M():%L] %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="nl.bzk.cso" level="debug"/>

    <Root level="warn">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
